*{
    color:#efefef;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
body{
    background-color: #121213;
    /*background-image: url(78.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;*/
    
}
.background--custom {
    background: linear-gradient(90deg, #313131, #c8e74d, #3B8619);
    background-size: 300% 300%;
    animation: gradient 6s alternate infinite;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-animation: gradient 6s alternate infinite;
}
  @keyframes gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}


.game-container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}
.title-container{
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #efefef;

}
.message-container{
    height:50px;
    margin: 10px ;
    

}
.message-container{
    background-color:rgba(36, 248, 85, 0.511);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    
    margin:0px;
}
.tile-container{
width: 330px;
margin-bottom: 30px;

}
.key-container{
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}

.key-container button{
    width: 43px;
    height: 58px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: none;
    background-color: #454545;
    color: #ffffff;
    margin: 4px;

}

.key-container button:nth-child(11){
    margin-left: 30px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28){
    width: 68px;

}

.tile-container div{
    display: flex;
    

}

.tile-container .tile{
    width: 62px;
    height: 62px;
    border: 2px solid #3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f7ff06;
    margin: 2px;
}


.tile.flip{
    animation:0.5s linear flipping;
    -webkit-animation:0.5s linear flipping;
}

@keyframes flipping{
    0%{
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
}
    50%{
        transform: rotateX(90deg);
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        -o-transform: rotateX(90deg);
}
    100%{
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
}
}


.grey-overlay{
    background-color: #858585 !important;
    border:none !important;

}
.yellow-overlay{
    background-color: #ffd30f !important;
    border:none !important;
  
}
.green-overlay{
    background-color: #34ff21 !important;
    border:none !important;

}